@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}
body {
    width: 100vw;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #7dd3fc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    background-image: url('./images/arctic-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style: none;
    padding: 0px;
}
#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 5fr;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-container {
    font-size: 50px;
    font-weight: bolder;
    background-color: #0ea5e9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header-container > img {
    width: 150px;
    object-fit: cover;
}
div.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 211, 252, 0.3);
    
}
div.nav > ul {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    
}

div.nav > ul > li > div {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

div.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2vh;
}

div.main-content {
    width: 50vw;
    background-color: #0ea5e9;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.content-section {
    background-color: #bae6fd;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: 5px solid #0284c7;
}

div.content-section-header {
    font-size: x-large;
    font-weight: bold;
}

div.content-section-text {
    font-size: large;
}

div#hours.content-section-text > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

#main-dish.content-section-text, #desserts.content-section-text {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
    gap: 10px;
}

.dish {
    border: solid 5px #f0f9ff;
    border-radius: 10px;
    background: #f0f9ff;
    padding: 5px;
    /* width: 200px; */
}

.dish-image {
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.person {
    display: flex;
    flex-direction: column;
    
}

.person > div > img {
    width: 150px;
}
.person > div {
    display: flex;
    justify-content: center;
    align-items: center;
}